#container-current-cards-component{
    width: 95vw;
    isolation: isolate;
    
    #container-ul-current-cards{
        display: flex;
        margin-bottom: 10px;
        isolation: isolate;
        height: 700px;

        .button-add-new-quote-card{
            display: flex;
            background-color: rgb(47, 47, 47);;
            color: rgb(255,255,255);
            border-radius: 10px;
            font-size: 30px;
            cursor: pointer;
            transition: 0.3s;
            align-content: center;
            justify-content: center;
            align-items: center;
            height: 500px;
            margin-right: 10px;
            &:hover{
                background-color: rgb(0, 0, 0);;
            }

            img{
                height: 40px;
                width: 40px;
            }

        }
        
        .ul-current-cards{
            margin: 0px;
            list-style: none;
            display: flex;
            overflow-y: hidden;
            padding: 0px;
            margin: 0px;

            #container-li-card{
                display: flex;
                background-color: rgb(255, 255, 255);
                border: 1px solid black;
                margin-right: 5px;
                height: 500px;
                margin-left: 5px;
            }
        }
    }
}