#container-current-cards-component{
    background-color: aqua;
    width: 100vw;
    
    #container-ul-current-cards{
        display: flex;
        
        ul{
            margin: 0px;
            list-style: none;
            display: flex;
            overflow-x: scroll;
            padding: 0px;
            margin: 0px;

            #container-li-card{
                display: flex;
                background-color: rgb(255, 0, 0);
                border: 1px solid black;
                margin-right: 5px;
            }
        }
    }
}