#page-letter-index {
    display: flex;
    flex-direction: column;
    background-color: RGB(255, 251, 237);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    align-items: center;
    
    .top-page {
        display: flex;
        background-color: RGB(255, 251, 237);
        margin-top: 100px;
        margin-bottom: 35px;
        height: 70px;
        width:fit-content;
        align-items: center;
        justify-content: center;

        .container-index {
            display: flex;

            .container-sign {
                h1 {
                    font-size: 60px;
                    color: RGB(50, 50, 50);
                    user-select: none;
                    margin: 0px;
                    height: fit-content;
                    width: fit-content;
                }
            }

            .container-choice-index {
                display: flex;
                flex-direction: column;
                height: fit-content;
                width: fit-content;
                align-items: center;
                margin-right: 5px;
                margin-left: 5px;
    
                h1 {
                    font-size: 60px;
                    color: RGB(50, 50, 50);
                    user-select: none;
                    margin: 0px;
                    height: fit-content;
                    width: fit-content;
                }
    
                h2 {
                    font-size: 32px;
                    color: RGB(50, 50, 50);
                    user-select: none;
                    margin: 0px;
                    height: fit-content;
                    width: fit-content;
                }
            }
        }     
    }

    #container-sections-lines{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: max-content;

        #container-sections {
            display: flex;
            flex-direction: row;
            margin-left: 10px;
            margin-bottom: 10px;
            width: auto;
        }
    }
}